/* JPBerriz - Stylesheet */

/* Changed font-family */
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  
}

/* JP.To have sidebar items align left add this line to the block above .sidebar-about
   text-align: left;
*/
  .sidebar-about {
    text-align: center; 
  }

/* JP. To have social icons align left on sidebar 
  #instagram {
    float: left;
  }
  #linkedin {
    float: left;
    margin-left: 1rem;
  }
  #tumblr {
    float: left;
    margin-left: 1rem;
  }

*/   
   

/* JP added this to get his profile picture to be centered */
#profile-picture {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.5rem;
}

/* Sidebar about section */
/* Took out font-family: "Abril Fatface", serif; -- doesn't work with my long name */
.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-size: 1.6rem;
}

/* Mailchimp -- added by JP */
.mailchimp {
   color: #fff;
}
#subscribe {
   font-size: 0.75rem
}

/* Social Media -- added by JP */
#instagram, #linkedin, #tumblr {
   margin-left: auto;
   margin-right: auto;  
   padding-right: 0.8rem;
}

/* Copyright -- added by JP */
.copyright {
   margin-top: 3rem;
   font-size: 0.75rem;
   clear: both;
}

/* JP. Make post title blue on hover. So user can identify link */
.post-title a:hover {
  color: #990000;
}

/* Notes by Categories on Notes page */
.category-head {
   font-size: 1.3rem;
   margin-top: 2rem;
}

.archive-item {
   font-size: 1rem;
}

/* Comments form */
.welcomments__container .welcomments__submit-button {
   background-color: #990000 !important;
}

/* Tipuesearch changes */
#tipue_search_input {
appearance:none;
--tw-bg-opacity: 1;
background-color: rgba(229,231,235,var(--tw-bg-opacity));
--tw-border-opacity:1;
border-color:rgba(229,231,235,var(--tw-border-opacity));
border-width:1px;
display:block;
line-height:1.25;
}

#tipue_search_input:focus {
--tw-bg-opacity:1;
background-color:rgba(255,255,255,var(--tw-bg-opacity));
--tw-border-opacity:1;
border-color:rgba(107,114,128,var(--tw-border-opacity));
outline:2px solid transparent;
outline-offset:2px
}

.search *,
.search:after, 
.search:before {
   box-sizing:border-box;
   border:0 solid #e5e7eb;
   border-top-color: rgb(229, 231, 235);
   border-top-style: solid;
   border-top-width: 0px;
   border-right-color: rgb(229, 231, 235);
   border-right-style: solid;
   border-right-width: 0px;
   border-bottom-color: rgb(229, 231, 235);
   border-bottom-style: solid;
   border-bottom-width: 0px;
   border-left-color: rgb(229, 231, 235);
   border-left-style: solid;
   border-left-width: 0px;
   border-image-source: initial;
   border-image-slice: initial;
   border-image-width: initial;
   border-image-outset: initial;
   border-image-repeat: initial;
}

#tipue_search_results_count {
   margin-top: 0.75rem;
}

.searchButton {
  margin-top: 1.5rem;
  --tw-bg-opacity: 1;
  background-color: rgba(17,24,39,var(--tw-bg-opacity));
  font-weight: 700;
  font-size: 100%;
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  --tw-shadow: 0 0 transparent;
  box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
  --tw-text-opacity: 1;
  color: rgba(255,255,255,var(--tw-text-opacity));
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .2s;
  -webkit-appearance: button;
  line-height: inherit;
}