<div class="sidebar">
  <div id="container sidebar-sticky">
    
    <div class="profile-picture">
       <a href="{{ '/' | relative_url }}">
          <img src="{{ site.baseurl }}/public/profile_picture.png" alt="hi" id="profile-picture"/>
       </a>
    </div>
    <div class="sidebar-about">
      <h1>
        <a href="{{ '/' | relative_url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ '/' | relative_url }}">Blog</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>
    
    <a class="sidebar-nav-item" href="https://share.hsforms.com/1HmgTCZFUSH-2Ds1J4YQydA3lbtz" target="_blank">Subscribe to my email list</a>
    <a class="sidebar-nav-item" href="https://share.hsforms.com/1xZkfPEqES62GdL3_9ik12A3lbtz" target="_blank">Contact</a>
    
      <div class="social-media-links">
         <a href="https://www.instagram.com/jp.berriz/">
            <img id="instagram" src="https://img.icons8.com/metro/26/ffffff/instagram-new.png"/>
         </a>
      </div>

    <p class="copyright">&copy; JPBerriz {{ site.time | date: '%Y' }}.</p>
    
  </div>
</div>
